# -----------------------------------------
# Python
# -----------------------------------------

venv/
__pycache__/
*.pyc
*.pyo

# -----------------------------------------
# Git
# -----------------------------------------

.git
.gitignore

# -----------------------------------------
# Logs
# -----------------------------------------

logs/

# -----------------------------------------
# Database
# -----------------------------------------

*.db

# -----------------------------------------
# Output Files
# -----------------------------------------

output/

# -----------------------------------------
# IDE
# -----------------------------------------

.vscode/
.idea/

# -----------------------------------------
# Docker
# -----------------------------------------

*.tar

# -----------------------------------------
# Selenium Cache
# -----------------------------------------

.wdm/